In [180]:
import pandas as pd

In [181]:
df = pd.read_csv("diabetes_complete.csv", header=0, sep=",")

In [182]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never_smoked,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never_smoked,27.32,5.7,158,0
3,Female,36.0,0,0,smoked_before,23.45,5.0,155,0
4,Male,76.0,1,1,smoked_before,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,smoked_before,27.83,5.7,155,0
99998,Female,24.0,0,0,never_smoked,35.42,4.0,100,0
99999,Female,57.0,0,0,smoked_before,22.43,6.6,90,0

In [183]:
df = df[df["smoking_history"] != "No Info"]

In [184]:
df = df[df["gender"] != "Other"]

In [185]:
dummy_table = pd.get_dummies(df, drop_first = True)

In [186]:
dummy_table

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Male,smoking_history_smoked_before
0,80.0,0,1,25.19,6.6,140,0,0,0
2,28.0,0,0,27.32,5.7,158,0,1,0
3,36.0,0,0,23.45,5.0,155,0,0,1
4,76.0,1,1,20.14,4.8,155,0,1,1
5,20.0,0,0,27.32,6.6,85,0,0,0
...,...,...,...,...,...,...,...,...,...
99992,26.0,0,0,34.34,6.5,160,0,0,0
99993,40.0,0,0,40.69,3.5,155,0,0,0
99997,66.0,0,0,27.83,5.7,155,0,1,1
99998,24.0,0,0,35.42,4.0,100,0,0,0
99999,57.0,0,0,22.43,6.6,90,0,0,1

In [187]:
dummy_table.columns = ["age", "hypertension", "heart_disease", "bmi", "HbA1c_level", "blood_glucose_level", "diabetes", "gender", "smoking_history"]

In [188]:
dummy_table = dummy_table[["gender", "age", "hypertension", "heart_disease", "bmi", "smoking_history", "HbA1c_level", "blood_glucose_level", "diabetes"]]

In [190]:
df_diabetes_yes = dummy_table[dummy_table["diabetes"] == 1]
df_diabetes_no = dummy_table[dummy_table["diabetes"] == 0]

In [191]:
df_final1 = df_diabetes_no.sample(n=800, random_state=1)

In [192]:
df_final2 = df_diabetes_yes.sample(n=300, random_state=1)

In [195]:
df_merged = df_final1.append(df_final2)

/tmp/ipykernel_862165/2539082233.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_merged = df_final1.append(df_final2)

In [196]:
#df_merged = df_merged[["gender", "age", "hypertension", "heart_disease", "bmi", "smoking_history", "diabetes"]]

In [197]:
df_merged.index += 1 
df_merged.index.names = ['patient_id']
df_merged = df_merged.astype({'age':'int'})

In [198]:
df_merged.to_csv("diabetes_double.csv", index=True, header=True, sep=",")